# Wireless Configuration Template (OpenWRT)
# Generado por scripts/generate-config.sh

config wifi-device 'radio0'
    option type 'mac80211'
    option channel 'auto'
    option hwmode '11g'
    option path 'pci0000:00/0000:00:00.0'
    option htmode 'HT20'

config wifi-iface 'default_radio0'
    option device 'radio0'
    option network 'lan'
    option mode 'ap'
    option ssid '{{WIFI_SSID_24}}'
    option encryption 'psk2'
    option key '{{WIFI_KEY_24}}'

config wifi-device 'radio1'
    option type 'mac80211'
    option channel 'auto'
    option hwmode '11a'
    option path 'pci0000:00/0000:00:01.0'
    option htmode 'VHT80'

config wifi-iface 'default_radio1'
    option device 'radio1'
    option network 'lan'
    option mode 'ap'
    option ssid '{{WIFI_SSID_5}}'
    option encryption 'psk2'
    option key '{{WIFI_KEY_5}}'
